@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./colors.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.principal {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#page-title {
  width: 100%;
}

.main-time {
  width: 100%;
  height: fit-content;
  border-top: 2px solid var(--clrMain);
  margin: 4px 0 3vh 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 5% 30% 5% 30%;
  align-items: center;
  justify-items: center;
  position: relative;
}
.main-time span:nth-child(2n+1) {
  font-size: 5em;
  font-weight: 900;
  font-family: 'Work Sans', sans-serif;
}
.main-time span:nth-child(5) {
  opacity: 0.5;
}
.main-time span:nth-child(2n) {
  font-size: 4em;
  font-weight: 400;
}
.principal .buttons {
  width: 18vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.principal .buttons .sw-action {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background: var(--clrMain);
  box-shadow: 0 2px 0 2px #0005;
  transition: 0.15s ease;
  outline: 2px solid transparent;
  outline-offset: -2px;
}
.principal .buttons .sw-action:hover,
.principal .buttons .sw-action:focus {
  outline: 2px solid var(--clrBackground);
  background: var(--clrBMain);
}
.principal .buttons .sw-action:active {
  box-shadow: 0 0 0 0 #0005;
}
.principal .buttons .sw-action.complete {
  width: 6vw;
}
.principal .buttons .sw-action.small {
  width: 3vw;
}
.principal .buttons .sw-action span {
  font-weight: 800;
  font-size: 1.2em;
  margin-left: 5px;
  color: var(--clrContrast);
}
.principal .buttons .sw-action img {
  height: 18px;
  filter: brightness(0) invert(1);
}
.history {
  width: 22vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.history .record {
  width: 100%;
  padding: 5px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  transition: 0.2s ease;
}
.history .record:not(:last-child) {
  border-bottom: 1px solid var(--clrContrast);
}
.history .record.empty {
  opacity: 0.6;
}
.history .record.fill {
  opacity: 1;
}