@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./colors.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.principal {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#page-title {
  width: 100%;
}
.main-time {
  width: 100%;
  height: fit-content;
  margin: 0 0 3vh 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 5% 30% 5% 30%;
  border-top: 2px solid var(--clrMain);
  align-items: center;
  justify-items: center;
  position: relative;
}
.main-time span:nth-child(2n+1) {
  font-size: 5em;
  font-weight: 900;
  font-family: 'Work Sans', sans-serif;
}
.main-time span:nth-child(5) {
  opacity: 0.5;
}
.main-time span:nth-child(2n) {
  font-size: 4em;
  font-weight: 400;
}
.principal .buttons {
  width: 18vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.principal .buttons .t-action {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background: var(--clrMain);
  box-shadow: 0 2px 0 2px #0005;
  transition: 0.15s ease;
  outline: 2px solid transparent;
  outline-offset: -2px;
}
.principal .buttons .t-action:hover,
.principal .buttons .t-action:focus {
  outline: 2px solid var(--clrBackground);
  background: var(--clrBMain);
}
.principal .buttons .t-action:active {
  box-shadow: 0 0 0 0 #0005;
}
.principal .buttons .t-action.complete {
  width: 6vw;
}
.principal .buttons .t-action.small {
  width: 3vw;
}
.principal .buttons .t-action span {
  font-weight: 800;
  font-size: 1.2em;
  margin-left: 5px;
  color: var(--clrContrast);
}
.principal .buttons .t-action img {
  height: 18px;
  filter: brightness(0) invert(1);
}
.inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 2vh 0;
}
.inputs .time-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 45%;
  outline: 2px solid var(--clrMain);
  outline-offset: -2px;
  border-radius: 5px;
}
.inputs .time-input h3 {
  background: var(--clrMain);
  text-align: center;
  width: 100%;
  padding: 2px 0;
  border-radius: 5px 5px 0 0;
}
.inputs .time-input select {
  width: calc(100% - 4px);
  background: none;
  border: none;
  text-align: center;
  padding: 8px 0;
  color: var(--clrContrast);
  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
  border-radius: 0 0 5px 5px;
  transition: 0.15s ease;
}
.inputs .time-input select:focus,
.inputs .time-input select:hover {
  outline: none;
  color: var(--clrMain);
}
.inputs .time-input select option {
  color: var(--clrBackground);
  background: var(--clrContrast);
  font-family: 'Work Sans', monospace;
}
#timer-sound {
  display: none;
  opacity: 0;
}
#credits {
  color: var(--clrContrast);
  font-size: 0.8em;
  opacity: 0.6;
}
#credits a {
  text-decoration: none;
}
#credits a:hover,
#credits a:focus {
  text-decoration: underline;
  outline: none;
}